.hero-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  background-image: url('../../../assets/images/fondo1.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: left;
  padding: 0 20px;
}

.hero-content {
  max-width: 600px;
  margin-left: 50px;
}

.hero-content h1,
.hero-content h2,
.hero-content p,
.hero-btn {
  opacity: 0;
  transform: translateX(-200px);
  animation: slideIn 1s forwards;
}

.hero-content h1 {
  animation-delay: 0.1s;
}

.hero-content h2 {
  animation-delay: 0.6s;
}

.hero-content p {
  animation-delay: 0.8s;
  line-height: 1.5;
}

.hero-btn {
  animation-delay: 1s;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-content h2 {
  font-size: 2.5rem;
  color: rgb(74, 250, 74);
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0;
}

.hero-content p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.hero-btn {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: forestgreen;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero-btn:hover {
  background-color: #8fcf85;
}
